.App{
  display: flex;
}
.sideBar{
  width:20vw;; 
  height : 100vh; 
  background:#aaa; 


  display: flex;
  flex-direction: column;
}

.svgContainer{
  width:80vw; 
  height:100vh;
  background:white; 
  overflow:scroll;
}

.svgContainer::-webkit-scrollbar {
  display: none;
}

.sidebarButton{
  width:20vw;
  height: 80px;

}

.relationLine{
  stroke-width:3px; 
  stroke:#666;
}

.relationLine:hover{
  stroke:#31a5e0;
  stroke-width:6px; 

}

.filterButton{
  position: fixed;
  right:10px;
  top:100px;
}
.plusButton{
  position: fixed;
  right:10px;
  top:150px;
}
.minusButton{
  position: fixed;
  right:10px;
  top:200px;
}

.filterInput{
  position: fixed;
  right:90px;
  top:97px;
  width:12rem;
  height:3rem;
}